In [1]:
from urllib.request import urlretrieve 
import zipfile 
import pandas as pd
import numpy as np
import random

In [2]:
# data 읽기
# ------------- user columns ----------------------------
users_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
# read data
users = pd.read_csv(
    'data/u.user', sep='|', names=users_cols, encoding='latin-1')

In [3]:
users

   user_id  age sex     occupation  zip_code
0        1   24   M     technician     85711
1        2   53   F          other     94043
2        3   23   M         writer     32067
3        4   24   M     technician     43537
4        5   33   F          other     15213
5        6   42   M      executive     98101
6        7   57   M  administrator     91344
7        8   36   M  administrator      5201
8        9   29   M        student      1002
9       10   53   M         lawyer     90703

In [4]:
# ------------- watch columns ----------------------------
watch_cols = ['user_id', 'movie_id', 'watch_hist_time']


watches = pd.read_csv(
    'data/u.watch', sep='\t', names=watch_cols, encoding='latin-1')

In [5]:
watches

    user_id  movie_id  watch_hist_time
0         1        10             1375
1         2         2              996
2         1         3              829
3        10         1             5364
4         9         1            10114
5         8         1             1519
6         1         9             5645
7         2         7             4545
8         3         8             5555
9         1         5             1231
10        5         4             1234
11        3         3             4878
12        7         2            10114
13        6         6             4478
14        8         7             5456
15        7         8             4878
16        8        10             4545
17        4         8            23425

In [6]:
# ------------- search columns ----------------------------
search_cols = ['user', 'search_hist']
searches = pd.read_csv(
    'data/u.search', sep='\t', names=search_cols, encoding='latin-1')

In [7]:
searches

   user       search_hist
0     1          'Shorty'
1     2         'Copycat'
2     3  'Twelve Monkeys'
3     1  'Twelve Monkeys'
4     7          'Shorty'
5     0          'Shorty'

In [8]:
# The movies file contains a binary feature for each genre.
genre_cols = [
    "genre_unknown", "Action", "Adventure", "Animation", "Children", "Comedy",
    "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror",
    "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western",
]
# ------------- movies columns ----------------------------
movies_cols = [
    'movie_id', 'title', 'release_date', "video_release_date", "imdb_url"
] + genre_cols
movies = pd.read_csv(
    'data/u.item', sep='|', names=movies_cols, encoding='latin-1')

In [9]:
movies

,movie_id,title,release_date,video_release_date,imdb_url,genre_unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (2011),01-Jan-2011,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (2020),01-Jan-2020,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1998),01-Jan-1998,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1998),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,Twelve Monkeys (2018),01-Jan-2018,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [10]:
# users["user_id"] = users["user_id"].apply(lambda x: str(x-1))
# movies["movie_id"] = movies["movie_id"].apply(lambda x: str(x-1))
movies["year"] = movies['release_date'].apply(lambda x: str(x).split('-')[-1])

In [11]:
movies['example_age'] = (pd.to_datetime("now") - pd.to_datetime(movies['release_date']))\
            /np.timedelta64(1,'D')

In [12]:
# normalize
# norm_val = (val - min)/(max-min) 
# because max-min is the largest number, any value between max & min divided by max-min is always in [0,1]
def normalize_col(df,col_name):
    df[col_name] = (df[col_name] - df[col_name].min()) / (df[col_name].max() - df[col_name].min())
    return df

In [13]:
movies = normalize_col(movies,'example_age')
watches = normalize_col(watches,'watch_hist_time')

In [14]:
data = watches.merge(movies, on='movie_id').merge(users, on='user_id')
data['user_id']=data['user_id'].astype(int)
data['movie_id']=data['movie_id'].astype(int)
data = data.set_index(['user_id']).sort_index()
data = data.reset_index()
data['movie_name']=data['title'].str[:-6] # remove year

In [15]:

# occupation 인코딩
occupations = data["occupation"].unique().tolist()
occupations_encoded = {x: i for i, x in enumerate(occupations)}
occupationsencoded2occupations = {i: x for i, x in enumerate(occupations)}

# search history 인코딩
search_hists = searches["search_hist"].unique().tolist()
search_encoded = {x: i for i, x in enumerate(search_hists)}
searchencoded2search = {i: x for i, x in enumerate(search_hists)}

# 유저 인덱스 인코딩
user_ids = data["user_id"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
userencoded2user = {i: x for i, x in enumerate(user_ids)}

# 영화 인덱스 인코딩
movie_ids = data["movie_id"].unique().tolist()
movie2movie_encoded = {x: i for i, x in enumerate(movie_ids)}
movie_encoded2movie = {i: x for i, x in enumerate(movie_ids)}

# 영화 제목 인코딩
title_ids = data["title"].unique().tolist()
title2title_encoded = {x: i for i, x in enumerate(title_ids)}
title_encoded2title = {i: x for i, x in enumerate(title_ids)}

In [16]:
# change to encoding
data["user"] = data["user_id"].map(user2user_encoded)
data["movie"] = data["movie_id"].map(movie2movie_encoded)
# title_d not a typo btw
data["title_d"] = data["title"].map(title2title_encoded)
searches["search_hist"] = searches["search_hist"].map(search_encoded)
data["occupation"] = data["occupation"].map(occupations_encoded)
# searches
searches = normalize_col(searches,'search_hist')


watch_hist = data.groupby(['user'])['movie_id'].apply(list).reset_index()
search_hist = searches.groupby(['user'])['search_hist'].apply(list).reset_index()
watch_hist_time = data.groupby(['user'])['watch_hist_time'].apply(list).reset_index()
example_age = data.groupby(['user'])['example_age'].apply(list).reset_index()


user_video_list = data.pivot(index='user_id', columns='movie_id', values='movie').reset_index()
user_video_list.fillna(data["movie_id"].max()+1, inplace=True)

sample_data=data[['user','occupation','sex']]
sample_data=sample_data.reset_index()
sample_data = sample_data.drop('index',axis=1)
sample_data = sample_data.drop_duplicates()

In [17]:
user_movie_list = pd.merge(sample_data,watch_hist, how= 'left')
user_movie_list = pd.merge(user_movie_list,watch_hist_time, how='left')
user_movie_list = pd.merge(user_movie_list,search_hist, how='left')
user_movie_list = pd.merge(user_movie_list,example_age, how='left')
user_movie_list['search_hist'] = user_movie_list['search_hist'].apply(lambda x: x if type(x) is list else []) # NaN 처리
user_movie_list['predict_labels'] = user_movie_list['movie_id'].apply(lambda x: int(random.uniform(0,data["movie"].max()))) #label을 마지막 값으로..

In [18]:
user_movie_list

,user,occupation,sex,movie_id,watch_hist_time,search_hist,example_age,predict_labels
0,0,0,M,"[10, 3, 9, 5]","[0.024163568773234202, 0.0, 0.2131350681536555...",[0.0],"[0.9577264264593144, 0.0, 1.0, 0.8799693352316...",3
1,1,1,F,"[2, 7]","[0.007390688617454417, 0.1644538856434767]","[0.0, 1.0]","[0.3599824772752163, 0.07994743182564888]",2
2,2,2,M,"[3, 8]","[0.17919100725792175, 0.2091520623119136]",[0.5],"[0.0, 1.0]",1
3,3,0,M,[8],[1.0],[1.0],[1.0],7
4,4,1,F,[4],[0.017923526287838557],[],[1.0],4
5,5,3,M,[6],[0.1614887590724022],[],[1.0],3
6,6,4,M,"[2, 8]","[0.4109134360063728, 0.17919100725792175]",[],"[0.3599824772752163, 1.0]",1
7,7,4,M,"[7, 10, 1]","[0.20477075588599752, 0.1644538856434767, 0.03...",[0.0],"[0.07994743182564888, 0.9577264264593144, 1.0]",3
8,8,5,M,[1],[0.4109134360063728],[],[1.0],6
9,9,6,M,[1],[0.20069923880332802],[],[1.0],4

In [19]:
train_data = user_movie_list[(user_movie_list.user >= 1)&
                                  (user_movie_list.user <= 5)]
test_data = user_movie_list[(user_movie_list.user >= 6)&
                                  (user_movie_list.user <= 10)]

In [20]:
train_data

,user,occupation,sex,movie_id,watch_hist_time,search_hist,example_age,predict_labels
1,1,1,F,"[2, 7]","[0.007390688617454417, 0.1644538856434767]","[0.0, 1.0]","[0.3599824772752163, 0.07994743182564888]",2
2,2,2,M,"[3, 8]","[0.17919100725792175, 0.2091520623119136]",[0.5],"[0.0, 1.0]",1
3,3,0,M,[8],[1.0],[1.0],[1.0],7
4,4,1,F,[4],[0.017923526287838557],[],[1.0],4
5,5,3,M,[6],[0.1614887590724022],[],[1.0],3

In [29]:
# CONTINUE FROM HERE - 30-09-2021
EMBEDDING_DIMS = 16
DENSE_UNITS = 64
DROPOUT_PCT = 0.0
ALPHA = 0.0
NUM_CLASSES=data["movie"].max() + 2
LEARNING_RATE = 0.003

In [30]:
import tensorflow as tf
class MaskedEmbeddingsAggregatorLayer(tf.keras.layers.Layer):
    def __init__(self,agg_mode='sum',**kwargs):
        super(MaskedEmbeddingsAggregatorLayer,self).__init__(**kwargs)
        if agg_mode not in ['sum','mean']:
            raise NotImplementedError('mode {} not implementd'.format(agg_mode))
        self.agg_mode = agg_mode
    
    @tf.function
    def call(self,inputs,mask=None):
#         https://www.tensorflow.org/api_docs/python/tf/ragged/boolean_mask
        masked_embeddings = tf.ragged.boolean_mask(inputs,mask)
        if self.agg_mode == 'sum':
            aggregated =  tf.reduce_sum(masked_embeddings, axis=1)
        elif self.agg_mode == 'mean':
            aggregated = tf.reduce_mean(masked_embeddings, axis=1)
        return aggregated
    def get_config(self):
        # this is used when loading a saved model that uses a custom layer
        return {'agg_mode': self.agg_mode}
    
class L2NormLayer(tf.keras.layers.Layer):
    def __init__(self, **kwargs):
        super(L2NormLayer, self).__init__(**kwargs)
    
    @tf.function
    def call(self, inputs, mask=None):
        if mask is not None:
            inputs = tf.ragged.boolean_mask(inputs, mask).to_tensor()
        return tf.math.l2_normalize(inputs, axis=-1)

    def compute_mask(self, inputs, mask):
        return mask

In [31]:
import tensorflow as tf
import datetime
import os
input_watch_hist = tf.keras.Input(shape=(None, ), name='watch_hist')
input_watch_hist_time = tf.keras.layers.Input(shape=(None,), name='watch_hist_time')
input_search_hist = tf.keras.layers.Input(shape=(None,), name='search_hist')
input_example_age = tf.keras.Input(shape=(None, ), name='example_age')
input_occupation = tf.keras.Input(shape=(None, ), name='occupation')

# -----layers-----
features_embedding_layer = tf.keras.layers.Embedding(input_dim=NUM_CLASSES, output_dim=EMBEDDING_DIMS, 
                                            mask_zero=True, trainable=True, name='features_embeddings')
labels_embedding_layer = tf.keras.layers.Embedding(input_dim=NUM_CLASSES, output_dim=EMBEDDING_DIMS, 
                                            mask_zero=True, trainable=True, name='labels_embeddings')
avg_embeddings = MaskedEmbeddingsAggregatorLayer(agg_mode='mean', name='aggregate_embeddings')

# --------- dense layers

dense_1 = tf.keras.layers.Dense(units=DENSE_UNITS, name='dense_1')
dense_2 = tf.keras.layers.Dense(units=DENSE_UNITS, name='dense_2')
dense_3 = tf.keras.layers.Dense(units=DENSE_UNITS, name='dense_3')
l2_norm_1 = L2NormLayer(name='l2_norm_1')

In [32]:
dense_output = tf.keras.layers.Dense(NUM_CLASSES, activation=tf.nn.softmax, name='dense_output')

In [33]:
# features embedding & dense
features_embeddings = features_embedding_layer(input_watch_hist)
l2_norm_features = l2_norm_1(features_embeddings)
avg_features = avg_embeddings(l2_norm_features)


# watch embedding & dense
labels_watch_embeddings = labels_embedding_layer(input_watch_hist_time)
l2_norm_watched = l2_norm_1(labels_watch_embeddings)
avg_watched = avg_embeddings(l2_norm_watched)


# search embedding & dense
labels_search_embeddings = labels_embedding_layer(input_search_hist)
l2_norm_searched = l2_norm_1(labels_search_embeddings)
avg_searched = avg_embeddings(l2_norm_searched)

# ---- user embedding ------------
# user's age embedding & dense
labels_example_age_embeddings = labels_embedding_layer(input_example_age)
l2_norm_example_age = l2_norm_1(labels_example_age_embeddings)
avg_example_age = avg_embeddings(l2_norm_example_age)

# features embedding & dense
labels_occupation_embeddings = labels_embedding_layer(input_occupation)
l2_norm_occupation = l2_norm_1(labels_occupation_embeddings)
avg__occupation = avg_embeddings(l2_norm_occupation)

In [34]:
concat_inputs = tf.keras.layers.Concatenate(axis=1)([avg_features,
                                                     avg_watched,
                                                     avg_searched,
                                                     avg_example_age,
#                                                      avg__occupation
                                                     ])

In [35]:
# Concatenate embedding vectors
# each of layer's size sum up to inputs size 16 + 16 +16 + 16 = 64
concat_inputs

In [39]:
# Relu and batch normalize
dense_1_features = dense_1(concat_inputs)
dense_1_relu = tf.keras.layers.ReLU(name='dense_1_relu')(dense_1_features)
dense_1_batch_norm = tf.keras.layers.BatchNormalization(name='dense_1_batch_norm')(dense_1_relu)

dense_2_features = dense_2(dense_1_relu)
dense_2_relu = tf.keras.layers.ReLU(name='dense_2_relu')(dense_2_features)
# dense_2_batch_norm = tf.keras.layers.BatchNormalization(name='dense_2_batch_norm')(dense_2_relu)

dense_3_features = dense_3(dense_2_relu)
dense_3_relu = tf.keras.layers.ReLU(name='dense_3_relu')(dense_3_features)
dense_3_batch_norm = tf.keras.layers.BatchNormalization(name='dense_3_batch_norm')(dense_3_relu)
outputs = dense_output(dense_3_batch_norm)

In [41]:
#Optimizer
optimiser = tf.keras.optimizers.Adam(learning_rate=LEARNING_RATE)

In [42]:
#--- prep model
model = tf.keras.models.Model(
    inputs=[input_watch_hist, 
            input_watch_hist_time, 
            input_search_hist,
            input_example_age,
#             input_occupation,
            ],
    outputs=[outputs]
)

In [43]:
logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)
model.compile(optimizer=optimiser, loss='sparse_categorical_crossentropy', metrics=['acc'])

model.summary()

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
watch_hist (InputLayer)         [(None, None)]       0
__________________________________________________________________________________________________
watch_hist_time (InputLayer)    [(None, None)]       0
__________________________________________________________________________________________________
search_hist (InputLayer)        [(None, None)]       0
__________________________________________________________________________________________________
example_age (InputLayer)        [(None, None)]       0
__________________________________________________________________________________________________
features_embeddings (Embedding) (None, None, 16)     176         watch_hist[0][0]
__________________________________________________________________________________________________
labels_embeddings (Embedding)   (None, None, 16)     176         watch_hist_time[0][0]
                                                                 search_hist[0][0]
                                                                 example_age[0][0]
__________________________________________________________________________________________________
l2_norm_1 (L2NormLayer)         (None, None, 16)     0           features_embeddings[0][0]
                                                                 labels_embeddings[0][0]
                                                                 labels_embeddings[1][0]
                                                                 labels_embeddings[2][0]
__________________________________________________________________________________________________
aggregate_embeddings (MaskedEmb (None, 16)           0           l2_norm_1[0][0]
                                                                 l2_norm_1[1][0]
                                                                 l2_norm_1[2][0]
                                                                 l2_norm_1[3][0]
__________________________________________________________________________________________________
concatenate_2 (Concatenate)     (None, 64)           0           aggregate_embeddings[0][0]
                                                                 aggregate_embeddings[1][0]
                                                                 aggregate_embeddings[2][0]
                                                                 aggregate_embeddings[3][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 64)           4160        concatenate_2[0][0]
__________________________________________________________________________________________________
dense_1_relu (ReLU)             (None, 64)           0           dense_1[2][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 64)           4160        dense_1_relu[0][0]
__________________________________________________________________________________________________
dense_2_relu (ReLU)             (None, 64)           0           dense_2[2][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 64)           4160        dense_2_relu[0][0]
__________________________________________________________________________________________________
dense_3_relu (ReLU)             (None, 64)           0           dense_3[2][0]
__________________________________________________________________________________________________
dense_3_batch_norm (BatchNormal (None, 64)           256         dense_3_relu[0][0]
__________________________________________________________________________________________________
dense_output (Dense)            (None, 11)           715         dense_3_batch_norm[0][0]
==================================================================================================
Total params: 13,803
Trainable params: 13,675
Non-trainable params: 128
__________________________________________________________________________________________________

In [44]:
history = model.fit([tf.keras.preprocessing.sequence.pad_sequences(train_data['movie_id']),
           tf.keras.preprocessing.sequence.pad_sequences(train_data['watch_hist_time'], dtype=float),
           tf.keras.preprocessing.sequence.pad_sequences(train_data['search_hist'], dtype=float) + 1e-10,
           tf.keras.preprocessing.sequence.pad_sequences(train_data['example_age'], dtype=float),
#            tf.keras.preprocessing.sequence.pad_sequences(train_data['occupation'], dtype=float),
           ],train_data['predict_labels'].values,
           steps_per_epoch=1, epochs=50)

Epoch 1/50
1/1 [==============================] - 1s 1s/step - loss: 2.5907 - acc: 0.2000
Epoch 2/50
1/1 [==============================] - 0s 3ms/step - loss: 1.4965 - acc: 0.6000
Epoch 3/50
1/1 [==============================] - 0s 3ms/step - loss: 1.0855 - acc: 0.8000
Epoch 4/50
1/1 [==============================] - 0s 3ms/step - loss: 0.8331 - acc: 0.8000
Epoch 5/50
1/1 [==============================] - 0s 4ms/step - loss: 0.7058 - acc: 0.8000
Epoch 6/50
1/1 [==============================] - 0s 3ms/step - loss: 0.6116 - acc: 0.8000
Epoch 7/50
1/1 [==============================] - 0s 3ms/step - loss: 0.5305 - acc: 0.8000
Epoch 8/50
1/1 [==============================] - 0s 4ms/step - loss: 0.4674 - acc: 0.8000
Epoch 9/50
1/1 [==============================] - 0s 2ms/step - loss: 0.4186 - acc: 0.8000
Epoch 10/50
1/1 [==============================] - 0s 3ms/step - loss: 0.3863 - acc: 0.8000
Epoch 11/50
1/1 [==============================] - 0s 3ms/step - loss: 0.3622 - acc: 0.8000
Epoch 12/50
1/1 [==============================] - 0s 3ms/step - loss: 0.3445 - acc: 0.8000
Epoch 13/50
1/1 [==============================] - 0s 3ms/step - loss: 0.3315 - acc: 0.8000
Epoch 14/50
1/1 [==============================] - 0s 3ms/step - loss: 0.3213 - acc: 0.8000
Epoch 15/50
1/1 [==============================] - 0s 4ms/step - loss: 0.3137 - acc: 0.8000
Epoch 16/50
1/1 [==============================] - 0s 3ms/step - loss: 0.3078 - acc: 0.8000
Epoch 17/50
1/1 [==============================] - 0s 3ms/step - loss: 0.3034 - acc: 0.8000
Epoch 18/50
1/1 [==============================] - 0s 2ms/step - loss: 0.2999 - acc: 0.8000
Epoch 19/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2970 - acc: 0.8000
Epoch 20/50
1/1 [==============================] - 0s 2ms/step - loss: 0.2944 - acc: 0.8000
Epoch 21/50
1/1 [==============================] - 0s 2ms/step - loss: 0.2925 - acc: 0.8000
Epoch 22/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2910 - acc: 0.8000
Epoch 23/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2896 - acc: 0.8000
Epoch 24/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2883 - acc: 0.8000
Epoch 25/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2873 - acc: 0.8000
Epoch 26/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2866 - acc: 0.8000
Epoch 27/50
1/1 [==============================] - 0s 2ms/step - loss: 0.2858 - acc: 0.8000
Epoch 28/50
1/1 [==============================] - 0s 2ms/step - loss: 0.2850 - acc: 0.8000
Epoch 29/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2844 - acc: 0.8000
Epoch 30/50
1/1 [==============================] - 0s 2ms/step - loss: 0.2840 - acc: 0.8000
Epoch 31/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2836 - acc: 0.8000
Epoch 32/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2831 - acc: 0.8000
Epoch 33/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2829 - acc: 0.8000
Epoch 34/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2826 - acc: 0.8000
Epoch 35/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2823 - acc: 0.8000
Epoch 36/50
1/1 [==============================] - 0s 2ms/step - loss: 0.2820 - acc: 0.8000
Epoch 37/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2819 - acc: 0.8000
Epoch 38/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2817 - acc: 0.8000
Epoch 39/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2814 - acc: 0.8000
Epoch 40/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2813 - acc: 0.8000
Epoch 41/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2812 - acc: 0.8000
Epoch 42/50
1/1 [==============================] - 0s 2ms/step - loss: 0.2810 - acc: 0.8000
Epoch 43/50
1/1 [==============================] - 0s 2ms/step - loss: 0.2809 - acc: 0.8000
Epoch 44/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2808 - acc: 0.8000
Epoch 45/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2807 - acc: 0.8000
Epoch 46/50
1/1 [==============================] - 0s 2ms/step - loss: 0.2806 - acc: 0.8000
Epoch 47/50
1/1 [==============================] - 0s 2ms/step - loss: 0.2805 - acc: 0.8000
Epoch 48/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2804 - acc: 0.8000
Epoch 49/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2803 - acc: 0.8000
Epoch 50/50
1/1 [==============================] - 0s 3ms/step - loss: 0.2802 - acc: 0.8000

In [45]:
model.save('candidate_implement.h5')

c:\python39\lib\site-packages\keras\utils\generic_utils.py:494: CustomMaskWarning: Custom mask layers require a config and must override get_config. When loading, the custom mask layer must be passed to the custom_objects argument.
  warnings.warn('Custom mask layers require a config and must override '

In [46]:
pred = model.predict([tf.keras.preprocessing.sequence.pad_sequences(test_data['movie_id']),
           tf.keras.preprocessing.sequence.pad_sequences(test_data['watch_hist_time'], dtype=float),
           tf.keras.preprocessing.sequence.pad_sequences(test_data['search_hist'], dtype=float) + 1e-10,
           tf.keras.preprocessing.sequence.pad_sequences(test_data['example_age'], dtype=float)
           ])

In [47]:
pred

array([[0.076663  , 0.2269075 , 0.06620311, 0.09554674, 0.13270369,
        0.07272969, 0.06003426, 0.03476394, 0.0871761 , 0.069052  ,
        0.07821994],
       [0.0662505 , 0.11925001, 0.19811037, 0.08470042, 0.09466874,
        0.0776029 , 0.0687655 , 0.04854742, 0.08271965, 0.08705483,
        0.07232971],
       [0.06064864, 0.09490171, 0.05872176, 0.1991222 , 0.24488568,
        0.06779759, 0.04547296, 0.04536035, 0.07083438, 0.05133603,
        0.06091873],
       [0.06064864, 0.09490171, 0.05872176, 0.1991222 , 0.24488568,
        0.06779759, 0.04547296, 0.04536035, 0.07083438, 0.05133603,
        0.06091873]], dtype=float32)

In [52]:
np.sort((-pred)).argsort()[:,:6]

array([[0, 1, 2, 3, 4, 5],
       [0, 1, 2, 3, 4, 5],
       [0, 1, 2, 3, 4, 5],
       [0, 1, 2, 3, 4, 5]], dtype=int64)

In [57]:
# candidate generation 
# extract top-7 most recommendation data for each user
N = 6 
k = np.sort((-pred)).argsort()[:,:N]
k = k.flatten()
k[k>data["movie"].max()] = 0
k = np.unique(k)

array([0, 1, 2, 3, 4, 5], dtype=int64)

# 2. Ranking

***Load model and pre process data***

In [61]:
# load candidate_generation 
model = tf.keras.models.load_model(
    'candidate_generation.h5',
    custom_objects={
        'L2NormLayer':L2NormLayer,
        'MaskedEmbeddingsAggregatorLayer':MaskedEmbeddingsAggregatorLayer
    }
)

In [64]:
def get_genres(movies, genres):
	def get_all_genres(gs):
		active = [str(genres_encoded[genre]) for genre, g in zip(genres, gs) if g==1]
		if len(active) == 0:
			return '0'
		return ','.join((active))
	
	movies['all_genres'] = [
	get_all_genres(gs) for gs in zip(*[movies[genre] for genre in genres])]

In [66]:
movie_data = movies.set_index(['movie_id']).sort_index()
movie_data = movie_data.loc[k+1]
movie_data["title_d"] = movie_data["title"].map(title2title_encoded)

ratings_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'data/u.data', sep='\t', names=ratings_cols, encoding='latin-1')

genres_encoded = {x: i for i, x in enumerate(genre_cols)}
get_genres(movie_data, genre_cols)

new_data = movie_data.merge(ratings, on='movie_id') # rating 추가

genre_occurences = new_data[genre_cols].sum().to_dict()



new_data = new_data[['movie_id', 'user_id', 'rating', 'unix_timestamp', 'all_genres', 'title_d']]
new_data['movie_type'] = np.where(new_data['rating'] >= 3, 'like', 'dislike') # 3보다 크면 like

movie_list = new_data.groupby(['user_id','movie_type'])['movie_id'].apply(list).reset_index()

genre_list = new_data.groupby(['user_id'])['all_genres'].unique().apply(list).reset_index()
genre_list['all_genres']=genre_list['all_genres'].apply(lambda x: list(set(','.join(x))) ) # 중복제거
genre_list['all_genres']=genre_list['all_genres'].apply(lambda x:[ x for x in x if x.isdigit() ])

new_data = normalize_col(new_data, 'unix_timestamp')
timestamp_list = new_data.groupby(['user_id'])['unix_timestamp'].unique().apply(list).reset_index()

title_list = new_data.groupby(['user_id'])['title_d'].apply(list).reset_index()
print(movie_list)
dataset = movie_list.pivot(index='user_id', columns='movie_type', values='movie_id').reset_index()
dataset.fillna(new_data["movie_id"].max()+1, inplace=True)

dataset['like'] =dataset['like'].apply(lambda x: x if type(x) is list else [])
dataset['dislike'] =dataset['dislike'].apply(lambda x: x if type(x) is list else [])

dataset = pd.merge(dataset, title_list, how='left')
dataset = pd.merge(dataset, genre_list, how='left')
dataset = pd.merge(dataset, timestamp_list, how='left')

dataset['predict_labels'] = dataset['like'].apply(lambda x: int(random.uniform(1,new_data["movie_id"].max()))) #label을 마지막 값으로..

dataset['like']=dataset['like'].apply(lambda x: [new_data["movie_id"].max()+1] if x == [] else x)
dataset['dislike']=dataset['dislike'].apply(lambda x: [new_data["movie_id"].max()+1] if x == [] else x)
train_data=dataset[(dataset.user_id >= 1)&
                                  (dataset.user_id <= 5)]
test_data=dataset[(dataset.user_id >= 6)&
                                  (dataset.user_id <= 9)]

   user_id movie_type movie_id
0        1    dislike      [3]
1        1       like      [5]
2        2       like      [2]
3        3       like      [3]
4        5    dislike      [4]
5        6       like      [6]
6        7       like      [2]
7        8       like      [1]
8        9    dislike      [1]
9       10    dislike      [1]

In [69]:
train_data

,user_id,dislike,like,title_d,all_genres,unix_timestamp,predict_labels
0,1,[3],[5],"[1, 3]","[6, 1, 8]","[0.18148025805016038, 0.4823272155954916]",3
1,2,[7],[2],[4],"[6, 1, 2]",[1.0],3
2,3,[7],[3],[1],"[6, 1]",[0.238512862381456],4
3,5,[4],[7],[7],"[1, 8, 5]",[0.2124407399567807],3

In [70]:
test_data

,user_id,dislike,like,title_d,all_genres,unix_timestamp,predict_labels
4,6,[7],[6],[8],[8],[0.9565084200073466],2
5,7,[7],[2],[4],"[6, 1, 2]",[0.0],3
6,8,[7],[1],[9],"[4, 5, 3]",[0.5193146561727731],2
7,9,[1],[7],[9],"[4, 5, 3]",[0.6606054505013651],3